.ChangepropertiesImg{
    display: flex;
    
}
.homework1-2{
    display: flex;
}
img{
    margin-top: 50px;
    margin-left: 100px;
    width: 100px;
    height: 100px;
    
}

#todo{
    margin-top: 50px;
    margin-left: 100px;
}
table, th, td {
    border:1px solid black;
  }


.table2{
    margin-top: 50px;
}