.bodyMngStudents{
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.containerMngStudents{
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);

    width: 65em;
    max-width: 100%;
    min-height: 480px;
}
.headerMngStudents{
    display: flex;
    justify-content:space-between;
}

.searchMngStudents{
    width: 30em;
    padding: 30px;
}
.addMngStudents{
    font-weight: 500;
}
.headerMngStudents-right{
    margin: 30px;
}
.titleMngStudents{
    font-size: 14px;
    margin: 10px 30px;
    font-weight: 700;
}

.Img{
    border-radius: 50px;
}
.toolbar-wrapper{
    border-radius: 50px;
}
.importMngSdtudent{
    
    margin-left: 30px;
}
.exportMngSdtudent{
    margin-left: 30px;
}