*{
    margin: 0;
    padding: 0;
}
.Display{
    width: 750px;
    height: 1200px;
    margin: auto;
    margin-top: 10px;
    
}
.Header{
    padding: 12px;
    border: 1px solid black;
    background-color: darksalmon;
    text-align: center;
}

.Feature1{
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    
}
.FeatureBox{
    padding: 41px;
    border: 1px solid black;
    background-color: blanchedalmond;
    text-align: center;
}
.FeatureBox10{
    width: 56px;
}
.Imgbox1{
    display: flex;
    margin-top: 10px;
}
.Image{
    border: 1px solid black;
    background-color: lightgreen;
    padding: 60px 157.25px;
    
}

.Image2{
    margin-left: 20px;
}
.Image4{
    margin-left: 20px;
}
.Content{
    display: flex;
    margin-top: 10px;
}
.ContentBox1{
    border: 1px solid black;
    background-color: lightgray;
    padding: 150px 90px;
}
.ContentBox{
    margin-left: 10px;
}
.ContentBox2{
    padding: 90px 219px;
    background-color: lightsalmon;
    border: 1px solid black;
}

.ContentBox3{
    padding: 45px 219px;
    background-color: lightsalmon;
    border: 1px solid black;
    margin-top: 10px;
}